n8n_bot_workflow.json
{
  "name": "RyF Banquetería - Bot IA Instagram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ryf-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook ManyChat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ryfbanqueteria.kruxel.cl/api/public/bot-context/",
        "options": {}
      },
      "id": "get-context",
      "name": "Obtener Contexto Negocio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Obtener Contexto Negocio').item.json;\nconst userMsg = $('Webhook ManyChat').item.json.body.last_input_text || '';\nconst subscriberId = $('Webhook ManyChat').item.json.body.id || '';\n\nconst systemPrompt = `Eres el asistente virtual de ${ctx.negocio.nombre}, empresa de banquetería y repostería chilena. Responde siempre en español, de forma amable y concisa (máximo 3 oraciones). Si preguntan por disponibilidad de fechas, consulta las fechas ocupadas y responde si la fecha está disponible o no. Si preguntan por productos o precios, menciona las opciones relevantes con precio en pesos chilenos. Siempre ofrece cotizar por este canal.\n\nINFO DEL NEGOCIO: ${JSON.stringify(ctx.negocio)}\n\nPRODUCTOS DISPONIBLES: ${JSON.stringify(ctx.productos)}\n\nFECHAS OCUPADAS próximos 60 días: ${JSON.stringify(ctx.fechas_ocupadas)}\n\nHOY: ${ctx.hoy}`;\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    groq_payload: {\n      model: 'llama-3.1-8b-instant',\n      max_tokens: 300,\n      temperature: 0.7,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg }\n      ]\n    }\n  }\n}];"
      },
      "id": "build-payload",
      "name": "Construir Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groq_payload) }}",
        "options": {}
      },
      "id": "openai-call",
      "name": "Groq Llama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const reply = $input.item.json.choices[0].message.content;\nconst subscriberId = $('Construir Payload').item.json.subscriber_id;\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    data: {\n      version: 'v2',\n      content: {\n        messages: [{ type: 'text', text: reply }]\n      }\n    },\n    message_tag: 'NON_PROMOTIONAL_SUBSCRIPTION'\n  }\n}];"
      },
      "id": "build-reply",
      "name": "Construir Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_MANYCHAT_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "send-manychat",
      "name": "Responder por ManyChat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}"
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Webhook ManyChat": {
      "main": [[{ "node": "Obtener Contexto Negocio", "type": "main", "index": 0 }]]
    },
    "Obtener Contexto Negocio": {
      "main": [[{ "node": "Construir Payload", "type": "main", "index": 0 }]]
    },
    "Construir Payload": {
      "main": [[{ "node": "Groq Llama", "type": "main", "index": 0 }]]
    },
    "Groq Llama": {
      "main": [[{ "node": "Construir Respuesta", "type": "main", "index": 0 }]]
    },
    "Construir Respuesta": {
      "main": [[{ "node": "Responder por ManyChat", "type": "main", "index": 0 }]]
    },
    "Responder por ManyChat": {
      "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
